mixin pagination(pagination)
  if pagination.totalPage > 1
    nav
      ul.pagination

        if pagination.currentPage > 1
          li.page-item
            button.page-link(button-pagination=pagination.currentPage - 1) &lt;

        - const total = pagination.totalPage
        - const current = pagination.currentPage
        - const delta = 2
        - const range = []
        - const rangeWithDots = []
        - let l

        - for (let i = 1; i <= total; i++) 
          - if (i === 1 || i === total || (i >= current - delta && i <= current + delta)) 
            - range.push(i)
          
        - for (const i of range) 
          - if (l) 
            - if (i - l === 2) 
              - rangeWithDots.push(l + 1)
            - else if (i - l !== 1)
              - rangeWithDots.push('...')
            
          
          - rangeWithDots.push(i)
          - l = i
        

        - for (const i of rangeWithDots) 
          - if (i === '...')
            li.page-item.disabled
              span.page-link ...
          - else
            li(class=`page-item ${i === current ? 'active' : ''}`)
              button.page-link(button-pagination=i) #{i}
        

        if pagination.currentPage < pagination.totalPage
          li.page-item
            button.page-link(button-pagination=pagination.currentPage + 1) &gt;
